[nz-carousel-content] {
  text-align: center;
  height: 140px;
  line-height: 160px;
  color: #fff;
  
}
@media (max-width:900px) {
  
  [nz-carousel-content] {
    text-align: center;
    line-height: 160px;
    height: 100px; 
  }
}

@media (max-width:640px) {
  
  [nz-carousel-content] {
    text-align: center;
    height: 90px;
    line-height: 60px;
    
  }
}
@media (max-width:400px) {
  
  [nz-carousel-content] {
    text-align: center;
    height: 60px;
    line-height: 60px;
    
  }
}