<div class="container ">
    <div class="row justify-items-center">

          <app-title></app-title>

    </div>
    <div class="row justify-items-center">

        <div class="col-md-8 justify-center">
            <nz-collapse nzAccordion class="m-2">
                <nz-collapse-panel *ngFor="let reserva of reservas" 
                                    [nzHeader]="'Reserva Id #'+' '+reserva.id" 
                                    [nzActive]="reserva.active"
                                    [nzExtra]="extra"
                                    [nzBordered]="true"
                                    (click)="getTickets(reserva.id)">
                 <!-- <div *ngFor="let ticket of reservas[5]">            
                  <p>{{ ticket.name }}</p>
                  
                 </div>   -->
                 <nz-skeleton [nzActive]="true" [nzShape]="round" [nzSize]="small" ></nz-skeleton>
                 <p>el juli</p>
                  
                  <ng-template #extra>
                    <p>{{ 'Valor $' + reserva.valor }}</p>
                    <p>{{ reserva.created_at | date: 'MMM d, y, h:mm:ss a' }}</p>
                  </ng-template>
                </nz-collapse-panel>
              </nz-collapse>          
        </div>
        
        <div class="col-md-4 text-center justify-center" >
            <app-reserva-factura></app-reserva-factura>
        </div>

    </div>
    

</div>
