<!-- <main>
    <div class="container p-0">
<div class="container px-0">

    <div class="row justify-items-center">

                <div class="col-md-8 justify-center">

                            <div class="items-stretch">
                                <app-menu-today></app-menu-today>
                            </div>

                            <div *ngIf="valid == false ;else tipo">
                                <nz-skeleton [nzActive]="true"></nz-skeleton>
                            </div>
                                
                            <ng-template #tipo>
                                <mat-tab-group dynamicHeight>                    
                                    <mat-tab  *ngFor = "let tipo of tipos" [label]="tipo.name_tipo">                    
                                        
                                        <app-product-card [tipoPro]="tipo.id_tipo"></app-product-card>                    
                                    </mat-tab>
                                </mat-tab-group>
                            </ng-template>
                            
                                
                                                        
                                           
                </div>
        
                <div class="col-md-4 text-center justify-center" >
                    <app-menu-pedido></app-menu-pedido>
                </div>

    </div>
    

</div> 

</div>
</main>
    -->
