<div class="flex flex-wrap justify-center">
<div class="card h-52 w-64 sm:w-48 sm:h-48  mt-8 p-0 m-2">

    <div class="bg-white rounded overflow-hidden shadow-md">
      <img src="https://depor.com/resizer/D6DbtUwCx7Pw7ZfvzO0YZGDBUhM=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/KI72CKUOHBF4RLJO7EBCR75SKA.jpg" class="w-full">
      <div class="h-52 sm:h-48 m-1">
        <span class="font-bold m-1"> 6 bean</span>
        <p class="block text-gray-500 m-1"> delicoso plato de sanchocho</p>
      </div>
    </div>
  
</div>
</div>
