
<mat-toolbar>
  
  <div class="container-fluid">
    
              <!-- <a class="navbar-brand" href="#">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMwPazPFtfJRKo8Rg5Ory4byaNa-vRcrZWZQ&usqp=CAU" alt="" width="30" height="24">
              </a> -->
              <!-- <span>Fenix + Sabor</span>   -->
              <img mat-card-image src="assets/fenis.png"> 
              
              <a mat-raised-button 
                 class="nav-item" 
                 routerLink="/home" 
                 routerLinkActive="active"
                 *ngIf="auth.loggedIn">
                  Home</a> 
              <a mat-raised-button 
                class="nav-item" 
                routerLink="/pedidos"
                routerLinkActive="active"
                *ngIf="auth.loggedIn">
                  Mis Pedidos</a> 
                                 
  </div>
              
              <span class="navbar-text">

                  <button mat-raised-button color="basic"
                          *ngIf="!auth.loggedIn"
                          (click) = "auth.login()">
                          Ingresar
                  </button>
                  <button mat-raised-button color="warn"
                          *ngIf="auth.loggedIn"
                          (click) = "auth.logout()">
                          Salir
                  </button>
                  
              </span>
              
  
  </mat-toolbar> 
