        <nz-sider class="menu-sidebar"
        
                  nzCollapsible
                  nzWidth="256px"
                  nzBreakpoint="md"
                  [(nzCollapsed)]="isCollapsed"
                  [nzTrigger]="null"> 
          <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
              <nz-avatar [nzSize]="55" nzSrc="assets/fenis.png" nzIcon ="assets/fenis.png">
               </nz-avatar>
              
              <h1>El Fenix Gloton</h1>
              
            </a>
          </div>   
          <ul nz-menu class="menux" nzTheme="dark" nzMode="inline">
            <li nz-submenu routerLink="/Home" 
                routerLinkActive="active" 
                nzTitle="Home" 
                nzIcon="dashboard" 
                *ngIf="auth.loggedIn">
            </li>
           
            <li nz-submenu
                *ngIf="role == 1"  
                routerLink="/pedidos"
                routerLinkActive="active"  
                nzTitle="Mis Pedidos" 
                nzIcon="form">
            </li>
            
            <li nz-submenu
                *ngIf="role == 2"
                routerLink="/allpedido" 
                nzTitle="Pedidos" 
                nzIcon="form"
                >
            </li>
            <li nz-submenu
                *ngIf="role == 1"
                routerLink="/perfil" 
                nzTitle="Mi Perfil" 
                nzIcon="setting"
                >
            </li>
            <li nz-submenu
                *ngIf="role == 2"                
                routerLink="/setting" 
                nzTitle="Administrar" 
                nzIcon="setting"
                >
            </li>
            <li>
              <ul>
                <button nz-button nzGhost
                        *ngIf="!auth.loggedIn"
                        (click) = "auth.login()">
                        Entrar
                </button>              
                  <button nz-button nzGhost
                          *ngIf="auth.loggedIn"
                          (click) = "auth.logout()">
                          Salir
                  </button>
              </ul>
            </li>
          </ul>
          
              
            
        </nz-sider>
        <nz-layout>
          
          <nz-header>
            <div class="app-header">
              
              <span class="header-trigger" (click)="isCollapsed = !isCollapsed" *ngIf="auth.loggedIn">
                  <i class="trigger"
                     nz-icon
                     [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                  ></i>
                </span>    
            </div> 
          </nz-header>
          <nz-content>      
            <div class="inner-content">
             <router-outlet></router-outlet>
            </div>
          </nz-content>
                    
        </nz-layout>
        
        
             