
<mat-toolbar>
  
  <div class="container-fluid">
    
              <a class="navbar-brand" href="#">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMwPazPFtfJRKo8Rg5Ory4byaNa-vRcrZWZQ&usqp=CAU" alt="" width="30" height="24">
              </a>
              <span>Fenix + Sabor</span>              
              <button mat-raised-button>Home</button>        
              
                <button mat-raised-button>
                 Mis pedidos
                </button>
                                 
  </div>
              
                <a mat-icon-button color="warn">
                  <mat-icon>favorite</mat-icon>
                </a>

                <a mat-icon-button color="warn">
                  <mat-icon>share</mat-icon>
                </a> 
              
  
  </mat-toolbar> 
