mat-toolbar{
    align-content:flex-start;
    background-color: #e43c26ec;
}
button{
    margin: 1.5%;
    
}
mat-icon {
    margin: 0.20%;
    
}
span{
    margin: 1.5%;
    
}
a{
    margin: 1.5%;
    
}
img{
    margin: 1.5%;
    float: auto;
    width: 10%;
    
}