  .text-pedido{
    font-size: 24px;
    font-style: oblique;
    font-display: flex;
  }

  
/* mat-card,mat-card-header{
    margin: 4%;
    width: 80%;
    display: block;
    margin-top: 2rem;
}  */
/* 
p {
    margin: 0;
  }
  .pedido-text{
      
      font-size: 24px;
      font-style: oblique;
      font-display: flex;
  }
  .img{
      padding-bottom: 10%;
  }

  .list-group{
      padding-top: 7%;
  }
 
  @media (max-width:640px) {
    mat-card{        
        align-items: center;
        width: 92%;
        display: block;
        margin-bottom: 5%;
        
        
    }
    mat-card img{
        align-content:  center;
        width: 90%;
        display: block;
        margin-left: 7%;
        
    }
} */