<main>
  <div class="container">
    <div class="card-group animated fadeIn fast">
      <mat-card>
        <mat-card-header>
          <div class="img-pedido">
            <img class="img" mat-card-image src="assets/fenis.png" />
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="m-2">
            <span class="text-pedido fw-bold"> Mi Pedido </span>
          </div>
          <ul class="list-group" *ngIf="texto == false">
            <li class="list-group-item d-flex justify-content-between m-2">
              <div class="bton fw-bold aling-text" *ngIf="texto == 0">
                Que deseas reservar hoy?
              </div>
            </li>
          </ul>
          <ul class="list-group" *ngIf="texto == true">
            <li class="list-group-item d-flex justify-content-between m-2">
              <div class="bton fw-bold" >
                TOTAL: $ {{ total }}
              </div>
            </li>
          </ul>

          <ul class="list-group list-group-numbered">
            <li
              class="
                list-group-item
                d-flex
                justify-content-between
                align-items-start
              "
              *ngFor="let ticket of tickets ; index as i"
            >
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ ticket.name }}</div>
                <div class="fw-bold">{{ "$" }} {{ ticket.valor }}</div>
              </div>
              <a
                class="btn btn-danger"
                (click)="deleteTicket(i)"
                *ngIf="auth.loggedIn"
                ><i class="far fa-trash-alt"></i
              ></a>
            </li>
          </ul>
          <div class="botn m-2" *ngIf="texto == false" (click)="alert = true">
            <button nz-button nzType="primary">Agrega productos</button>
          </div>
          <div *ngIf='alert == true'>
            <nz-alert
              [ngClass]="alert == true"
              class="m-2"
              nzType="warning"
              nzCloseable
              nzMessage="Agrega almenos un producto"
              (nzOnClose)="afterClose()"
              
            ></nz-alert>
          </div>
          
          <div class="botn m-2" *ngIf="texto == true">
            <app-modal></app-modal>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</main>
