<div class="card-group animated fadeIn fast" >
            <mat-card *ngFor ="let producto of productos">
                <mat-card-header>
                    <!-- <button class="setting">                    
                      <mat-icon mat-button color="warn" *ngIf="role == 2" (click)="editProduct(producto.id)">settings</mat-icon></button> -->
                    <mat-card-title>{{producto.name}}</mat-card-title>
                    <mat-card-subtitle class="fw-bold">$ {{producto.valor}}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image [src]="producto.image">
                  <mat-card-content>
                    <p>
                      {{producto.descripcion}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions *ngIf="auth.loggedIn">
                  <button mat-button class="boton" color="warn" (click)="saveTicket(producto.id)" >AÑADIR</button>
                    </mat-card-actions>
            </mat-card>
</div>