
 <div>
    <nz-skeleton [nzActive]="true" *ngIf="valid == false"></nz-skeleton>
 </div>
 

 <div *ngIf="valid == true">
     
        <nz-page-header nzBackIcon >
            <nz-page-header-title>{{user.name}}</nz-page-header-title>
            <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
                <nz-page-header-tags>
                        <nz-tag nzColor="lime">ID # {{user.id_user}}</nz-tag>
                </nz-page-header-tags>
                <nz-page-header-extra>
                        <button nz-button>Operation</button>
                        <button nz-button>Operation</button>
                        <button nz-button nzType="primary">Primary</button>
                </nz-page-header-extra>
                <nz-page-header-content>
                    <nz-row nzType="flex">
                        <nz-statistic nzTitle="Status" nzValue="Pending"></nz-statistic>
                        <nz-statistic nzTitle="Price" [nzValue]="568.08" nzPrefix="$" style="margin: 0 32px"></nz-statistic>
                        <nz-statistic nzTitle="Balance" [nzValue]="3345.08" nzPrefix="$"></nz-statistic>
                    </nz-row>
                </nz-page-header-content>
        </nz-page-header>
</div>
