<div>
  <ng-container *ngIf="user == null; else table">
    <div>
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    </div>
  </ng-container>
  <div>
    <ng-template #table>
      <nz-page-header nzBackIcon>
        <nz-page-header-title>{{ user.name }}</nz-page-header-title>
        <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
        <nz-page-header-tags >
         
            <nz-tag  nzColor="lime">ID # {{ user.id_user }}</nz-tag>
          
          
        </nz-page-header-tags>
        <nz-page-header-extra>
          <div class="flex flex-wrap">
            <button nz-button>Operation</button>
          <button nz-button>Operation</button>
          <button nz-button nzType="primary">Primary</button>
          </div>
          
        </nz-page-header-extra>
        <nz-page-header-content>
          <nz-row nzType="flex">
            <nz-statistic nzTitle="Estado" nzValue="Pendiente"></nz-statistic>
            <nz-statistic
              nzTitle="Precio"
              [nzValue]="(total | currency)"
              style="margin: 0 32px"
            ></nz-statistic>
            <!-- <nz-statistic
              nzTitle="Balance"
              [nzValue]="3345.08"
              nzPrefix="$"
            ></nz-statistic> -->
          </nz-row>
        </nz-page-header-content>
      </nz-page-header>
    </ng-template>
  
  </div>

</div>



