
        <nz-layout class="layout bg-white rounded-lg mat-elevation-z4">
          <div class="spin grid content-evenly">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
          </div>
          <div class="text nz-typography">
            <h5 nz-typography>INGRESANDO...</h5>
          </div>
          
        <!-- <mat-card-content>
          <div nz-col [nzSpan]="12">
            <h3 class="flex justify-center content-center" nz-typography>
              Ingresando
            </h3>
          </div>

          <div nz-col [nzSpan]="12" class="flex justify-center content-center">
            <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
          </div>
        </mat-card-content> -->
      </nz-layout>
 
<app-navbar></app-navbar>

