mat-card{
    margin: auto;
    align-items: center;
    width: 30%;
    margin-bottom: 5%;
         
} 
.boton{
    display: block;
    width: 100%;
    align-content: center;
}
.setting{
    background-color: transparent;
    border: none;
}
/* mat-card-subtitle{
    font-family: bold;
} */
@media (max-width:1000px) {
    mat-card{
        margin-left: 0%;
        align-items: center;
        width: 40%;
        display: block;
        margin-bottom: 5%;
        
        
    }
    mat-card img{
        align-content:  center;
        width: 100%;
        display: block;
        margin-left: 0%;
        
        
        
    }
}
@media (max-width:640px) {
    mat-card{
        margin-left: 0%;
        align-items: center;
        width: 100%;
        display: block;
        margin-bottom: 5%;
        
        
    }
    mat-card img{
        align-content:  center;
        width: 100%;
        display: block;
        margin-left: 0%;
        
        
        
    }
}