<mat-toolbar class="mat-elevation-z8" >
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">menu</mat-icon>
    </button>
    El Fenix Gloton
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="sidebar mat-elevation-z4">

        <div *ngIf="img == false">
        <img class="avatar mat-elevation-z8"  src="assets/fenis.png">
        <h4 class="name"> Bienvenido </h4>
        <p class="designation">El Fenix Gloton </p></div>

        <div *ngIf="img == true">
        <img class="avatar mat-elevation-z8"  [src]="user.picture">
        <h4 class="name">{{ user.name }}</h4>
        <p class="designation">{{ user.email }}</p> </div>

    <mat-divider></mat-divider>
    <ul class="nav-list">
        
        <li>
            
                <button mat-button class="menu-button"
                        (click)="sidenavObs()"
                        routerLink="/Menu"
                        
                        >
                    <mat-icon>article</mat-icon>
                    <span>Menu</span>
                </button>
            
        </li>
        <li>
            
                <button mat-button class="menu-button"
                        (click)="sidenavObs()"
                        routerLink="/Reserva">
                    <mat-icon>grading</mat-icon>
                    <span>Reservas</span>
                </button>
            
        </li>
        <li>
            
                <button mat-button class="menu-button"
                        (click)="sidenavObs()"
                        routerLink="/Perfil"
                        >
                    <mat-icon>person</mat-icon>
                    <span>Perfil</span>
                </button>
            
        </li>
        <li>
            
                <button mat-button class="menu-button"
                        (click)="sidenavObs()"
                        routerLink="/Config"
                        *ngIf="role == 2"
                        >
                    <mat-icon>settings</mat-icon>
                    <span>Config</span>
                </button>
            
        </li>
        <li>
            
            <button mat-button class="menu-button"
                    (click)="sidenavObs()"
                    routerLink="/Admin"
                    *ngIf="role == 2"
                    >
                <mat-icon>extension</mat-icon>
                <span>Admin</span>
            </button>
        
        </li>
        <mat-divider></mat-divider>
        <li>
            
            
                <button mat-button class="menu-button"
                        *ngIf="!auth.loggedIn"
                        (click) = "auth.login()">
                    <mat-icon>logout</mat-icon>
                    <span>Ingresar</span>
                </button>
                <button mat-button class="menu-button"
                        *ngIf="auth.loggedIn"
                        (click) = "auth.logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Salir</span>
                </button>
            
            
        </li>
    </ul>  

</mat-sidenav>


    <mat-sidenav-content>
        
        <div class="content  mat-elevation-z4">
            <div class="row">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>