
<mat-toolbar class="mat-elevation-z4" >
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">menu</mat-icon>
    </button>
    Responsive sidevar  
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="sidebar mat-elevation-z4">

        <img class="avatar mat-elevation-z8" src="../assets/pro.png">
        <h4 class="name">John Smith</h4>
        <p class="designation">Software Enginner</p>

    <mat-divider></mat-divider>
    <ul class="nav-list">
        
        <li>
            
                <button mat-button class="menu-button"
                        routerLink="/Menu"
                        >
                    <mat-icon>article</mat-icon>
                    <span>Menu</span>
                </button>
            
        </li>
        <li>
            
                <button mat-button class="menu-button"
                        routerLink="/Pedido">
                    <mat-icon>grading</mat-icon>
                    <span>Pedidos</span>
                </button>
            
        </li>
        <li>
            
                <button mat-button class="menu-button"
                        routerLink="/Perfil"
                        >
                    <mat-icon>person</mat-icon>
                    <span>Perfil</span>
                </button>
            
        </li>
        <li>
            
                <button mat-button class="menu-button"
                        routerLink="/Config"
                        >
                    <mat-icon>settings</mat-icon>
                    <span>Config</span>
                </button>
            
        </li>
        <li>
            
            <button mat-button class="menu-button"
                    routerLink="/Admin"
                    >
                <mat-icon>extension</mat-icon>
                <span>Admin</span>
            </button>
        
        </li>
        <mat-divider></mat-divider>
        <li>
            
            
                <button mat-button class="menu-button"
                        *ngIf="!auth.loggedIn"
                        (click) = "auth.login()">
                    <mat-icon>logout</mat-icon>
                    <span>Ingresar</span>
                </button>
                <button mat-button class="menu-button"
                        *ngIf="auth.loggedIn"
                        (click) = "auth.logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Salir</span>
                </button>
            
            
        </li>
    </ul>  

</mat-sidenav>


    <mat-sidenav-content>
        
        <div class="content  mat-elevation-z4">
            <router-outlet></router-outlet>
         </div>
    </mat-sidenav-content>
</mat-sidenav-container>

