<div class="container">
    <div class="row">
        <div class="col-md-9">
                     <app-menu-today></app-menu-today> 
                    <mat-tab-group dynamicHeight>                    
                        <mat-tab  *ngFor = "let tipo of tipos" [label]="tipo.name_tipo">                    
                               
                            <app-product-card [tipoPro]="tipo.id_tipo"></app-product-card>                    
                        </mat-tab>
                    </mat-tab-group>                
        </div>
        
        <div class="col-md-3 text-center" >
            <app-menu-pedido></app-menu-pedido>
        </div>
    </div>
    

</div>
   
