<ng-container *ngIf="!valid; else table">
    <div class="flex justify-center content-center m-12">
      <nz-spin class="mr-6" nzSimple [nzSize]="'large'"></nz-spin>
      <div nz-typography><h5>Esperando Pedidos...</h5></div>
      
    </div>
  </ng-container>

<ng-template #table>
  
    <nz-table #nzTable [nzData]="reservas"  nzTableLayout="fixed"[nzPageSize]="10" [nzBordered]="true">
        <thead>

                <tr>
                    <th class="w-12 p-2 justify-center content-center"><button nz-button nzShape="circle" nzType="secondary" (click)="loadStore()" [nzLoading]="isLoadingOne">
                      <i class="flex justify-center items-center" nz-icon [nzType]="'sync'"></i>
                    </button></th>
                    <th class="text-center"># Pedido</th>
                    <th class="text-center">Usuario</th>
                    <th class="text-center">Creado </th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">Servicio</th>
                    <th class="text-center">Facturar</th>
                </tr>
        </thead>
        <tbody>
                <ng-container *ngFor="let data of nzTable.data; index as i">
                        <tr >
                            <td [nzExpand]="expandSet.has(data.id)"
                            (nzExpandChange)="onExpandChange(data, $event)"
                            ></td>
                            <td class="text-center" ># {{ data.id_pedido }}</td>
                            <td class="text-center">{{ data.name }}</td>
                            <td class="text-center">{{ (data.created_at | date) }}</td>
                            <td class="text-center">{{ (data.valor | currency) }}</td>
                            <td class="text-center justify-center" *ngIf = "data.servicio == 0"><mat-icon>store</mat-icon></td>
                            <td class="text-center justify-center" *ngIf = "data.servicio == 1"><mat-icon>delivery_dining</mat-icon></td>
                            <td><button nz-button nzType="sucess" (click)="facturarPedido(i)">Facturar</button></td>
                        </tr>
                        <tr [nzExpand]="expandSet.has(data.id)">
                          
                          <div class="flex">
                            <nz-table class="w-screen" #basicTable [nzBordered]="true" [nzFrontPagination]="false" [nzData]="ticket">
                              <thead>
                                <tr>
                                  <th class="text-center">#Ticket</th>
                                  <th class="text-center">Producto</th>
                                  <th class="text-center">Valor</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let data of basicTable.data">
                                  <td class="text-center"># {{ data.id_ticket }}</td>
                                  <td class="text-center">{{ data.name }}</td>
                                  <td class="text-center">{{ (data.valor | currency) }}</td>
                                </tr>
                              </tbody>
                            </nz-table>
                          </div>
                          
                        </tr>

                </ng-container>
            
        </tbody>

    </nz-table>

      
</ng-template>
  
