<ng-container *ngIf="!valid; else table">
    <div class="flex justify-center content-center m-12">
      <nz-spin class="mr-6" nzSimple [nzSize]="'large'"></nz-spin>
      <div nz-typography><h5>Esperando Pedidos...</h5></div>
      
    </div>
  </ng-container>

<ng-template #table>
  
    <nz-table #nzTable [nzData]="reservas"  nzTableLayout="fixed"[nzPageSize]="10" [nzBordered]="true" (keyup.enter)="onKeyUp($event)">
        <thead>

                <tr>
                    <th class="w-12 p-2 justify-center content-center"><button nz-button nzShape="circle" nzType="secondary" (click)="loadStore()" [nzLoading]="isLoadingOne">
                      <i class="flex justify-center items-center" nz-icon [nzType]="'sync'"></i>
                    </button></th>
                    <th class="text-center"># Pedido</th>
                    <th class="text-center">Usuario</th>
                    <th class="text-center">Creado </th>
                    <th class="text-center">Valor</th>
                    <th class="text-center">Servicio</th>
                    <th class="text-center">Facturar</th>
                </tr>
        </thead>
        <tbody >
                <ng-container *ngFor="let data of nzTable.data; index as i" >
                      <tr>
                            <td [nzExpand]="expandSet.has(data.id_pedido)"
                            (nzExpandChange)="onExpandChange(data, $event)"
                            ></td>
                            <td class="text-center" ># {{ data.id_pedido }}</td>
                            <td class="text-center">{{ data.name }}</td>
                            <td class="text-center">{{ (data.created_at | date) }}</td>
                            <td class="text-center">{{ (data.valor | currency) }}</td>
                            <td class="text-center justify-center" *ngIf = "data.servicio == 0"><mat-icon>store</mat-icon></td>
                            <td class="text-center justify-center" *ngIf = "data.servicio == 1"><mat-icon>delivery_dining</mat-icon></td>
                            <td><button nz-button nzType="sucess" (click)="showModal(data)">Facturar</button></td>
                        </tr>
                        <tr [nzExpand]="expandSet.has(data.id_pedido)">
                          
                          <div class="flex">
                            <nz-table class="w-screen" #basicTable [nzBordered]="true" [nzFrontPagination]="false" [nzData]="ticket">
                              <thead>
                                <tr>
                                  <th class="text-center">Producto</th>
                                  <th class="text-center">Valor</th>
                                  <th class="text-center">Descripcion</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let data of basicTable.data">
                                  <td class="text-center">{{ data.name }}</td>
                                  <td class="text-center">{{ data.valor | currency }}</td>
                                  <td class="text-center">{{ (data.descripcion) }}</td>
                                </tr>
                              </tbody>
                            </nz-table>
                          </div>
                          
                        </tr>

                </ng-container>
            
        </tbody>

    </nz-table>

      
</ng-template>

<nz-modal
        [(nzVisible)]="isVisible"
        nzOkText="Facturar"
        nzCancelText="Cancelar"
        (nzOnOk)="setFactura()"
        (nzOnCancel)="handleCancel()"
      >
        <ng-container *nzModalContent>
          <h5 class="text-center p-2" nz-typography> Confirma el metodo de pago</h5>
          <nz-alert nzType="warning" *ngIf="alert == true" nzMessage="Elige un metodo de pago" nzShowIcon></nz-alert>
          <div class="flex justify-between px-5">            
            <div  class="" *ngFor="let metodo of metodos">

              

              <nz-card  nzType="inner" [nzTitle]="ticket.name" [nzExtra]="extraTemplate">
                            
                <h5 nz-typography>{{ metodo.metodo_name}}</h5>
                <nz-avatar class="p-2" [nzShape]="'square'" [nzSize]="64" [nzSrc]="metodo.image"></nz-avatar>
                <nz-switch [(ngModel)]="switchValue" [nzDisabled]="isDisabled" (click)="clickSwitch(metodo.id_metodo)" [nzLoading]="loading"></nz-switch>

              </nz-card>              
            </div>
          </div>
          
        </ng-container>
      </nz-modal>
  
