<nz-alert
      class="m-2"
      nzType="warning"
      nzCloseable
      nzMessage="Ingresa como usuario para poder reservar"
      (nzOnClose)="afterClose()"
      *ngIf="alert == true"
    ></nz-alert>
    <div class="h-90 m-12" *ngIf ="noData == true">
      <nz-empty></nz-empty>
    </div>
    
<div class="container flex flex-wrap justify-around justify-items-stretch ml-1 md:ml-2">

     <mat-card class="flex w-full sm:w-60 md:w-52 p-0 m-2 md:m-3 animated fadeIn fast cursor-pointer mat-elevation-z2"
              (click)="saveTicket(producto)" *ngFor="let producto of productos">
              

          <mat-card-content>
            <img class="m-0 p-0 rounded-sm" [src]="producto.image" />
            <div class="m-2">
              <mat-card-title>{{ producto.name }}</mat-card-title>
              <mat-card-subtitle class="fw-bold"
                >$ {{ producto.valor }}</mat-card-subtitle
              >
            </div>
            <div class="m-2">
              <p class="m-2">
                {{ producto.descripcion }}
              </p>
            </div>
          </mat-card-content>

      </mat-card>

</div>
 
  