<main>
    <div class="card-group animated fadeIn fast" >
            <mat-card>
                <mat-card-header>
                    <!-- <img mat-card-image [src]="pedido.picture">     -->
                </mat-card-header>
                <mat-card-content>
                    <ol class="list-group" >                            
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="fw-bold"> TOTAL: {{ "total" }}</div>
                        </li> 
                    </ol>
                    <ol class="list-group list-group-numbered" *ngFor ="let pedido of pedidos">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{{"name" }}</div>
                            <div class="fw-bold">{{'$'}} {{"ticket valor"}}</div>
                          </div>
                          <a class="btn btn-danger" ><i class="far fa-trash-alt" ></i></a>
                        </li>
                    </ol>
                </mat-card-content>
                <a class="btn btn-danger fw-bold" > Realizar Pedido</a>
            </mat-card>
    </div>
</main>


