<div>
    <ng-container *ngIf="!valid; else table">
      <div>
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </div>
    </ng-container>
    
      <ng-template #table>
        <nz-page-header nzBackIcon>
          <nz-page-header-title>{{ user.name }}</nz-page-header-title>
          <nz-page-header-subtitle>
           
          </nz-page-header-subtitle>
          <nz-page-header-tags >
           
              <nz-tag  nzColor="lime">ID # {{ user.id_user }}</nz-tag>
            
            
          </nz-page-header-tags>
          <nz-page-header-extra>
            <div class="flex flex-wrap">
            <button nz-button nzType="primary">Cerrar Caja</button>
            </div>
            
          </nz-page-header-extra>
          <nz-page-header-content>
            <nz-row nzType="flex justify-center items-center">
              <nz-statistic
                nzTitle="Total Venta"
                [nzValue]="(total | currency)"
                style="margin: 0 32px"
              ></nz-statistic>
              <nz-statistic
                nzTitle="Fiado"
                [nzValue]="(fiado | currency)"
                style="margin: 0 32px"
              ></nz-statistic>
              <nz-statistic
                nzTitle="Caja"
                [nzValue]="(efectivo | currency)"
                style="margin: 0 32px"
              ></nz-statistic>
              <nz-statistic
                nzTitle="Almuerzos"
                [nzValue]="almuerzo"
                style="margin: 0 32px"
              >
            </nz-statistic>
            
              <button class="mt-6" nz-button nzShape="circle" nzType="primary" (click)="loadOne()" [nzLoading]="isLoadingOne"><i class="flex justify-center items-center" nz-icon nzType="send" nzTheme="outline"></i>
              </button>
            </nz-row>
          </nz-page-header-content>
        </nz-page-header>
      </ng-template>
    
    
  
  </div>
  
  
  
  
