<button nz-button nzType="primary" (click)="showModal()">
  Realizar Pedido
</button>

<nz-modal
  *ngIf = "role == 5;else usuario"
  [(nzVisible)]="isVisible"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
>


  <ng-container  *nzModalContent>    
    
        <nz-card class="fw-bold" nzTitle="Confirma El Pedido" [nzExtra]="extraTemplate">

            <div class="m-2">

                  <nz-select #iduser nzShowSearch nzAllowClear nzPlaceHolder="Selecciona Usuario" [(ngModel)]="selectedValue">
                    
                      <nz-option *ngFor="let user of users"  [value]="user.id_user" [nzLabel]="user.name" [nzValue] = "user.id_user"></nz-option>
                      
                  </nz-select>
                  
                  <button nz-button *ngIf="iduser.value > 0" class="m-1" nzType="primary" (click)="selectUser(iduser.value)" [nzLoading]="isLoadingTwo">
                    Agregar
                  </button>
                              
            </div>

            <div *ngFor="let ticket of tickets">
              

                <nz-card  nzType="inner" [nzTitle]="ticket.name" [nzExtra]="extraTemplate">
                        <div class="grid grid-cols-4">

                                  <div class="m-1 ">
                                    <nz-avatar  [nzSize]="64" [nzSrc]="ticket.image"></nz-avatar>
                                  </div>

                                  <div class="m-1 col-span-2 justify-start">
                                    <h5  nz-typography>{{ticket.descripcion}}</h5>
                                  </div>               
                        </div>              
                </nz-card>

                <ng-template #extraTemplate>
                  <nz-tag class="fw-bold" nzColor="gold">{{ticket.valor | currency}}</nz-tag>
                </ng-template>

            </div> 
          
              <ng-template #extraTemplate>
                <nz-tag class="fw-bold" nzColor="success">Total: {{total | currency}}</nz-tag>
              </ng-template>

        </nz-card>

    </ng-container>

    <ng-template #modalFooter>
    
      
          <span class="m-2" nz-typography >Pedido a Domicilio:</span>
          <nz-switch class="m-2" [(ngModel)]="switchValue"  (click)="clickSwitch()" [nzLoading]="loading"></nz-switch>
      
          <button
            
            nz-button
            nzType="primary"
            (click)="setPedido()"
            [nzLoading]="isConfirmLoading"
          >
            Confirmar
          </button>
      
    </ng-template>

</nz-modal>


 <!-- MODAL visible para el USUARIO -->
<ng-template #usuario>
          <nz-modal
          [(nzVisible)]="isVisible"
          [nzFooter]="modalFooter"
          (nzOnCancel)="handleCancel()"
        >

          <ng-container  *nzModalContent>
                <nz-card class="fw-bold" nzTitle="Confirma tu Pedido" [nzExtra]="extraTemplate">
                    <div *ngFor="let ticket of tickets">

                        <nz-card  nzType="inner" [nzTitle]="ticket.name" [nzExtra]="extraTemplate">
                                <div class="grid grid-cols-4">

                                          <div class="m-1 ">
                                            <nz-avatar  [nzSize]="64" [nzSrc]="ticket.image"></nz-avatar>
                                          </div>

                                          <div class="m-1 col-span-2 justify-start">
                                            <h5  nz-typography>{{ticket.descripcion}}</h5>
                                          </div>               
                                </div>              
                        </nz-card>
                        <ng-template #extraTemplate>
                          <nz-tag class="fw-bold" nzColor="gold">{{ticket.valor | currency}}</nz-tag>
                        </ng-template>
                  </div> 
                  
                  <ng-template #extraTemplate>
                    <nz-tag class="fw-bold" nzColor="success">Total: {{total | currency}}</nz-tag>
                  </ng-template>
                </nz-card>    
            </ng-container>

            <ng-template #modalFooter>
              
                <span class="m-2" nz-typography >Pedido a Domicilio:</span>
                <nz-switch class="m-2" [(ngModel)]="switchValue"  (click)="clickSwitch()" [nzLoading]="loading"></nz-switch>
              
              <button
                nz-button
                nzType="primary"
                (click)="setPedidoUser()"
                [nzLoading]="isConfirmLoading"
              >
                Confirmar
              </button>
            </ng-template>
        </nz-modal>
</ng-template>


<nz-modal
        [(nzVisible)]="isVisible2"
        nzOkText="Facturar"
        nzCancelText="Cancelar"
        (nzOnOk)="setFactura()"
        (nzOnCancel)="handleCancel2()"
      >
        <ng-container *nzModalContent>
          <h5 class="text-center p-2" nz-typography> Confirma el metodo de pago</h5>
          <div class="flex justify-between px-5">            
            <div  class="" *ngFor="let metodo of metodos">

              <nz-card  nzType="inner">
                            
                <h5 nz-typography>{{ metodo.metodo_name}}</h5>
                <nz-avatar class="p-2"  [nzShape]="'square'" [nzSize]="64" [nzSrc]="metodo.image"></nz-avatar>
                <nz-switch [(ngModel)]="switchValue2" [nzDisabled]="isDisabled" (click)="clickSwitch2(metodo.id_metodo )" [nzLoading]="loading"></nz-switch>

              </nz-card>              
            </div>
          </div>
          
        </ng-container>
      </nz-modal>


      <nz-modal
        [(nzVisible)]="isVisible3"
        nzOkText="Enviar"
        (nzOnOk)="setFactura()"
        nzCancelText="Cancelar"
        (nzOnCancel)="handleCancel3()"
      >
        <ng-container *nzModalContent>
          <div class="flex justify-between px-5">            
            <div  class="" >

              <nz-card  nzType="inner">
                            
                <h5 nz-typography>Numero de contacto</h5>

                <nz-input-group [nzSuffix]="inputClearTpl">
                  <input type="text" nz-input [(ngModel)]="inputValue" placeholder="input with clear icon" />
                </nz-input-group>
                <ng-template #inputClearTpl>
                  <i
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="inputValue"
                    (click)="inputValue = null"
                  ></i>
                </ng-template>
                <br />
                <br />
                <nz-input-group [nzSuffix]="textAreaClearTpl" class="ant-input-affix-wrapper-textarea-with-clear-btn">
                  <textarea nz-input [(ngModel)]="textValue" placeholder="textarea with clear icon"></textarea>
                </nz-input-group>
                <ng-template #textAreaClearTpl>
                  <i
                    nz-icon
                    class="ant-input-textarea-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="textValue"
                    (click)="textValue = null"
                  ></i>
                </ng-template>
                              

              </nz-card>              
            </div>
          </div>
          
        </ng-container>
      </nz-modal>
